<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h1>Extrato Translações</h1>
  <br>
  <%= link_to "Nova Translação",  user_index_path,  class:"btn btn-outline-primary" %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo da Translação</th>
        <th scope="col">Valor da Translação</th>
        <th scope="col">Saldo</th>
        <th scope="col">Feita para</th>
      </tr>
    </thead>

    <tbody>
      <% @translations.each do |translation| %>
        <tr>
          <th>
            <%= translation.translation_type %>
          </th>
          <th>
            <%= number_to_currency(translation.translation_value, unit: 'R$', separator: ',', delimiter: '.', negative_format: "%u-%n") %>
          </th>
          <th>
            <%= number_to_currency(translation.balance, unit: 'R$', separator: ',', delimiter: '.', negative_format: "%u-%n") %>
          </th>
          <th> 
            <% if translation.transferred_user.present? %>
              <%= User.find(translation.transferred_user).name%>
            <%end%>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>