<div class="col">
  <div class="card mb-3 rounded-4 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Transferência</h4>
    </div>
    <%= form_with model: @translation do |form| %>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"><%= form.label "Autor(a) da Translação" %><br></h2>
        <%= form.collection_select(:user_id, User.where(id:current_user.id), :id, :name, {prompt:false}, {class: 'form-control'}) %>
        <h2 class="card-title pricing-card-title"><%= form.label "Usuário que recebe a Translação" %><br></h2>
        <%= form.collection_select(:transferred_user, User.all, :id, :name, {prompt:false}, {class: 'form-control'}) %>
        <h3 class="card-title pricing-card-title"><%= form.label "R$" %></h3>
        <%= form.text_field :translation_value, class: 'form-control ',type:"text" %>
        <h2 class="card-title pricing-card-title"><%= form.label "Tipo da translação" %><br></h2>
        <%= form.radio_button :translation_type, {prompt:'Transferência'} %><span style="font-size:15px;"> Transferência</span>
      </div>
      <%= render form%>  
    <% end %>
    <br>
  </div>
</div>
